.petProfile {
  background-image: url('images/backG.png');
  background-size: cover;
  display: flex;
  background-repeat: no-repeat;
  padding: 60px 100px;
  gap: 125px;
}

.profileText {
  width: 45%;
}

.profileText h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 25px;
}

.profileText p {
  font-size: 18px;
  margin-bottom: 25px;
}

.healthSection {
  margin-top: 90px;
}

.healthIcons {
  display: flex;
  gap: 70px;
  margin-top: 30px;
}

.healthCircle {
  width: 90px;
  height: 90px;
  background: #18b8b8;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.profileImageArea {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImageArea img {
  width: 100%;
  height: 520px;
  object-fit: cover;
  border: 4px solid black;
  border-radius: 20px;
}

.dots {
  display: flex;
  gap: 25px;
  margin: 35px 0 25px;
}

.dot {
  width: 22px;
  height: 22px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
}

.dot.active {
  background: #18b8b8;
}


  
.infoDots {
  display: flex;
  gap: 10px;
}

.infoDot {
  width: 6px;
  height: 6px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 8px;
  background: black;
}

.adoptBtn {
  width: 220px;
  padding: 8px 0;
  border: 3px solid black;
  border-radius: 20px;
  background: white;
  color: #fcb736;
  padding: 6px 16px;
  border-radius: 20px;
  margin: 15px 15px 0 15px;
  font-size: 16px;
}